<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="item : ${listPostResponse.listPost}">
    <div>
        <a th:href="@{'/post/'+${item.number}}">
            <h2 th:utext="${item.title}"></h2>
            <p th:utext="${item.description}"></p>
        </a>
    </div>
    <div>
        <p th:utext="${item.authorName}"></p>
        <p th:utext="${#temporals.format(item.created,'dd/MM/yyyy HH:mm')}"></p>
    </div>
</div>
</body>
</html>