<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Bài viết mới</title>
</head>
<body>
    <form action="/newpost" method="post" th:object="${post}">
        <div>
            <input type="text" th:field="*{title}" placeholder="Tiêu đề">
        </div>
        <div>
            <textarea th:field="*{description}" placeholder="Mô tả">
            </textarea>
        </div>
        <div id="ItemList">

        </div>

        <div>
            <button type="button" onclick="addText()">Add text</button>
            <button type="button" onclick="addImage()">Add img</button>
        </div>
        <div>
            <button type="submit"> Đăng</button>
        </div>
    </form>
</body>
<script>
    var index=0;
    function addText() {
        var node=document.createElement("div");
        node.innerHTML=`<div id="itemPostList[`+index+`]" >
                            <textarea name="itemPostList[`+index+`].text"> </textarea>
                            <input name="itemPostList[`+index+`].type" type=hidden value="TEXT">
                            <input name="itemPostList[`+index+`].number" type=hidden value=`+index+`>
                            <button type="button" value="itemPostList[`+index+`]" onclick="deleteItem(event)">X</button>
                        </div>`;
        document.getElementById("ItemList").appendChild(node);
        index++;
    }
    function addImage() {
        var node=document.createElement("div");
        node.innerHTML=`<div id="itemPostList[`+index+`]" >
                            <img id="itemPostList[`+index+`].textDisplay" />
                            <input type="file" id="itemPostList[`+index+`].text" name="itemPostList[`+index+`].text" accept="image/*" onchange="displayImg(event)">
                            <input name="itemPostList[`+index+`].type" type=hidden value="IMG">
                            <input name="itemPostList[`+index+`].number" type=hidden value=`+index+`>
                            <button type="button" value="itemPostList[`+index+`]" onclick="deleteItem(event)">X</button>
                        </div>`;
        document.getElementById("ItemList").appendChild(node);
        index++;
    }
    function displayImg(event){
        document.getElementById(event.target.id+'Display').src=(window.URL ? URL : webkitURL).createObjectURL(event.target.files[0]);
    }
    function deleteItem(event){
         document.getElementById(event.target.value).remove();
    }

</script>
</html>
